body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 95%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 5%;
  z-index: -3;
}

#create-node-toggle {
  z-index: -2;
}

#customDialog{
  display:none;
}