<!DOCTYPE html>
<html>
<head>
<meta name="description" content="pgmviz" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/pgmviz.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">


<script src="{{ STATIC_URL }}js/cytoscape-lib/jquery.js"></script>
<meta charset=utf-8 />
<title>Probablistic Graphical Models</title>
  <script src="{{ STATIC_URL }}js/cytoscape-lib/cytoscape.min.js"></script>
</head>
<div id="cy"></div>
<button type="button" id="create-node-toggle" class="btn btn-sm btn-primary btn-success" data-toggle="collapse">
Start Adding Nodes
</button>
<button type="button" id="create-edge-toggle" class="btn btn-sm btn-primary btn-success" data-toggle="collapse">
Start Adding Edges
</button>
<body>

<script>

function getMousePos(canvas, event){
  var mouseX = event.pageX - canvas.offsetLeft;
  var mouseY = event.pageY - canvas.offsetTop;
  return {
    x: mouseX,
    y: mouseY
  };
}


$('#cy').cytoscape({
  layout: {
    name: 'circle'
  },

  showOverlay: false,

  minZoom: 0.1,
  maxZoom: 10,

  style: cytoscape.stylesheet()
    .selector('node')
      .css({
        'shape': 'data(shape)',
        'height': 'mapData(weight, 0, 100, 20, 70)',
        'width': 'mapData(weight, 0, 100, 20, 70)',
        'content': 'data(name)',
        'text-valign': 'center',
        'text-outline-width': 2,
        'text-outline-color': 'data(color)',
        'background-color': 'data(color)',
        'color': '#fff'
      })
    .selector(':selected')
      .css({
        'border-width': 5,
        'border-color': '#000000',
      })
    .selector('edge')
      .css({
        'width': 'mapData(strength, 70, 100, 2, 6)',
        'target-arrow-shape': 'triangle',
        'source-arrow-shape': 'none',
        'line-color': 'data(color)',
        'source-arrow-color': 'data(color)',
        'target-arrow-color': 'data(color)',
      })
    .selector('edge.questionable')
      .css({
        'line-style': 'dotted',
        'target-arrow-shape': 'diamond'
      })
    .selector('.faded')
      .css({
        'opacity': 0.25,
        'text-opacity': 0
      }),

  elements: {
    nodes: [
      { data: { id: 'dummy1', name: 'Dummynode1', color: '#ffffff', shape: 'ellipse' } },
      { data: { id: 'dummy2', name: 'Dummynode2', color: '#ffffff', shape: 'ellipse' } },
    ],
  },

  ready: function(){
    window.cy = this;

    // giddy up
  }
});


NODE_ID = 1
EDGE_ID = 1
source_node_id = null;
target_node_id = null;

CREATE_NODE_STATE = false
CREATE_EDGE_STATE = false

function toggleAddNodeState()
{
    createnodebtn_obj = $("#create-node-toggle")
    if (CREATE_NODE_STATE == true){
        CREATE_NODE_STATE = false
        createnodebtn_obj.text("Start Adding Nodes")
        createnodebtn_obj.removeClass("btn-danger")
        createnodebtn_obj.addClass("btn-success")
    } else {
        CREATE_NODE_STATE = true
        createnodebtn_obj.text("Stop Adding Nodes")
        createnodebtn_obj.removeClass("btn-success")
        createnodebtn_obj.addClass("btn-danger")
    }
}

function toggleAddEdgeState()
{
    addedgesbtn_obj = $("#create-edge-toggle")
    if (CREATE_EDGE_STATE == true){
        CREATE_EDGE_STATE = false
        addedgesbtn_obj.text("Start Adding Edges")
        addedgesbtn_obj.removeClass("btn-danger")
        addedgesbtn_obj.addClass("btn-success")
    } else {
        CREATE_EDGE_STATE = true
        addedgesbtn_obj.text("Stop Adding Edges")
        addedgesbtn_obj.removeClass("btn-success")
        addedgesbtn_obj.addClass("btn-danger")

        // Unselect all selected elements to avoid bugs.
        cy.$(":selected").unselect()
        source_node_id = null;
        target_node_id = null;

    }
}


$("#create-node-toggle").click(function(event){
   if (CREATE_EDGE_STATE == true){
        toggleAddEdgeState()
   }
   toggleAddNodeState()
});

$("#create-edge-toggle").click(function(event){
   if (CREATE_NODE_STATE == true){
        toggleAddNodeState()
   }
   toggleAddEdgeState()
});


/**********************************************************
   Adding a Node:
   - We add a node on a click only when in Create Node State.
   Adding an Edge:
   - Select from node, Select to node.
   - An edge is created between these nodes.
**********************************************************/
$("#cy").click(function(event){
    if (CREATE_NODE_STATE == true) {

        pos = getMousePos(this,event)
        node_id_str = "n" + NODE_ID.toString()

        cy.add([
          { group: "nodes", data: { id: node_id_str, weight: 70 }, renderedPosition: pos },
        ]);

        // Next node should be assigned a different id.
        NODE_ID += 1
    }

    if (CREATE_EDGE_STATE == true) {
        selected_elements = cy.elements(":selected")
        if (selected_elements.length == 0){
            source_node_id = null;
            return
        }

        if (!source_node_id){
            // Get the ID of the node that was clicked.
            source_node_id = selected_elements.eq(0).id()

            // Return to make sure nothing else happens after source node is selected.
            return
        }

        if (source_node_id && !target_node_id){
            target_node_id = selected_elements.eq(0).id()
        }


        // Only add an edge if both source and target are selected.
        if (source_node_id && target_node_id){
            edge_id_str = "e" + EDGE_ID.toString()

            cy.add([
              { group: "edges", data: { source: source_node_id, target: target_node_id, color: '#86B342', strength: 100 },}
            ]);

            // Unselect all selected nodes, edges after creating an edge.
            cy.$(":selected").unselect()

            EDGE_ID += 1

            // Reset the source and target parameters.
            // So that a user can start drawing an edge again.
            source_node_id = null;
            target_node_id = null;
        }
    }
});


$(document).keydown(function(e){

    // If delete key is pressed delete selected elements.
    if (e.keyCode == 46) {
        to_be_deleted = cy.$(":selected");
        cy.remove(to_be_deleted);
    }
});

</script>

</body>
</html>
