<!DOCTYPE html>
<html>
    <head>
        <title>Probablistic Graphical Models</title>
        <meta name="description" content="pgmviz" />
        <meta charset=utf-8 />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/pgmviz.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">  
    </head>
    <body>
        <button type="button" id="drawMode">
            Draw Mode
        </button>
        <button type="button" id="analysisMode">
            Analysis Mode
        </button>
        <div id="modeButtons"></div>
        <div id="cy" style="height: 400px; width: 1100px;"></div>
<!--TODO: add style for whole doc -->
        <script src="../static/js/cytoscape-lib/jquery.js"></script>
        <script src="../static/js/cytoscape-lib/cytoscape.min.js"></script>
        <script src="../static/js/addNodes.js"></script>
        <script src="../static/js/basic.js"></script>
    </body>
</html>
